#menu {
  list-style-type: none;
  width: 200px;
  background: lightgray;
  padding: 10px;
}

.submenu {
  display: none;
  list-style-type: none;
  padding-left: 10px;
}

.submenu li {
  background: white;
  margin: 2px 0;
  padding: 5px;
  cursor: pointer;
}
